  
<% layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/reset/<%= token %> " method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="newpassword">New Password</label>
                            <input class="form-control" type="password" id="newpassword" name="newpassword" placeholder="New Password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="confirmpassword">Confirm Password</label>
                            <input class="form-control" type="password" id="confirmpassword" name="confirmpassword" placeholder ="Confirm Password"required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success btn-block">Update Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>